/**{
	border: 1px solid red !important;
} */


*{
	-webkit
	-moz
	-ms
	box-sizing: border-box;
}


/*---------nav bar all pages---------*/

.headimg {
	padding-top:3em;
	padding-bottom: 2em;
}




.navcontainer {
	padding-top: 1em;

}

.navbar {
	padding-top: 2em;
	padding-bottom: 1.7em;
	background: none;
	border: none;

}

.navbar-fixed-top {
	background-color: white;
	opacity: .9;
	padding-top: 2em; 
	padding-bottom: 2em;
}



/*--

.homelogo {
	font-weight: bold;
	font-size: 1em;
	letter-spacing: .2em;
	color: black;
	font-family: 'Raleway', sans-serif;
}

--*/
.homelogo {
	font-weight: 600;
	font-size: 1.2em;
	letter-spacing: 0em;
	color: black;
	font-family: 'Open Sans', sans-serif;
}

	


.homelogo_1 {
	font-weight: bold;
	font-size: 1em;
	letter-spacing: ;
	color: white;
	
}

.projmenu1{
	color: #303031 ;
	font-family:'Open Sans', sans-serif;
	
	font-size: 1.1em;
}

.menu1{
	color: #303031 ;
	font-family:'Open Sans', sans-serif;
	font-weight: bold;
	font-size: 1.1em;
}

.menu2{
	color: #303031 ;
	font-family: 'Open Sans', sans-serif;
	font-size: 1.1em;
}

.contactmenu1{
	color: #303031 ;
	font-family: 'Open Sans', sans-serif;
	font-size: 1.1em;
}

.contactmenu2{
	color: #303031 ;
	font-family: 'Open Sans', sans-serif;
	font-size: 1.1em;
	font-weight: bold;
}



.homelogo:hover{
	cursor: pointer;
}

.menu1:hover {
	font-weight: bold; 
	cursor: pointer;
	color: #303031 ;

}

.menu2:hover {
	font-weight: bold; 
	cursor: pointer;
	color: #303031 ;
}

.contactmenu1:hover {
	font-weight: bold; 
	cursor: pointer;
	color: #303031 ;

}

.contactmenu2:hover {
	font-weight: bold; 
	cursor: pointer;
	color: #303031 ;
}


.icon_contact {
	max-width: 5.5em;
}


/*---------all row stuff----------*/


.firstrow {
	padding-top: 0em;
}



.footer {
	padding-top: 3em;
	padding-bottom: 3em;
}

.nopadding {
   padding: 0 !important;
   margin: 0 !important;
  
}

.imgproj1 {
   padding: 0 !important;
   margin: 0 !important;
   opacity: 1;
   transition: all .2s ease-in-out;
}


.imgproj1:hover {
	opacity: 1;
	transform: scale(1.1);
	
}

.imgproj2 {
   padding: 0 !important;
   margin: 0 !important;
   opacity: 1;
   transition: all .2s ease-in-out;

}


.imgproj2:hover {
	opacity: 1;
	transform: scale(1.1);
	
}


.imgproj3 {
   padding: 0 !important;
   margin: 0 !important;
   opacity: 1;
   transition: all .2s ease-in-out;
}


.imgproj3:hover {
	opacity: 1;
	transform: scale(1.1);
	
}

.userflow3 {
  	padding-bottom: 4em;
   opacity: 1;
   transition: all .2s ease-in-out;

}


.userflow3:hover {
	opacity: 1;
	transform: scale(1.5);
	
	
}





.tpad {
	padding-top: 4em;
	padding-bottom: 1em;
}




.navpad {
	padding-top: 6em;
	padding-bottom: 0em;
}

.lrpad {
	padding-left: 3em;
	padding-right: 3em;
}

.mainlrpad {
	padding-right: 0em;
	padding-left: 0em;
}
.mainlrpadlast {
	padding-bottom: 8em;
}

.bigtextintro {
	padding-top: 5em;
	font-family: 'Noto Serif', serif;
	font-size: 2.3em;
	line-height: 1.5em;
}

.bigtext {
	padding-top: 3em;
	font-family: 'Noto Serif', serif;
	font-size: 2.3em;
	line-height: 1.5em;
}

.bodytext {
	font-family: 'Noto Serif', serif;
	font-size: 1.6em;
	line-height: 1.5em;
	padding-top: 1em;
	padding-bottom: 1em;
}

.chicken {

}


.projdetails {
	font-family: 'Open Sans', sans-serif;
	font-weight: 600;
	font-size: 1.2em;
	color: #303031 ;
	padding-bottom: 1em;

}

.aboutheader {
	font-family: 'Open Sans', sans-serif;
	font-weight: 700;
	font-size: 3.5em;
	color:  #303031 ;
	padding-top: 1em;
}

.aboutheader2 {
	font-family: 'Open Sans', sans-serif;
	font-weight: 600;
	font-size: 1.6em;
	color: #303031 ;
	padding-bottom: 5.5em;

}

.contactheader {
	font-family: 'Open Sans', sans-serif;
	font-weight: 700;
	font-size: 3.5em;
	color:  #303031 ;
	padding-top: 3em;
}

.contactheader2 {
	font-family: 'Raleway', sans-serif;
	font-weight: 600;
	font-size: 1.8em;
	color: #303031 ;
	padding-bottom: 1em;
}


.projectheader {
	font-family: 'Open Sans', sans-serif;
	font-weight: 700;
	font-size: 1.5em;
	color: ;
	padding-top: 2em;
}


.projectheader2 {
	font-family: 'Open Sans', sans-serif;
	font-weight: 600;
	font-size: 1.5em;
	color: #FAC024;
	padding-top: 0em;
}


.projecttitledealdash {
	font-family: 'Open Sans', sans-serif;
	font-weight: 600;
	font-size: 4.9em;
	color: #FAC024;
	padding-top: 0em;
}





.supportheader {
	font-family: 'Open Sans', sans-serif;
	font-weight: 400;
	font-size: 1.5em;
	color: #303031 ;
	padding-bottom: 4em;
}





.projectbanner {
	padding-bottom: 2em;
}


.hoverreveal {
	opacity: 1;
}

.hoverreveal:hover {
	transition: opacity 1s ease-in-out;
    opacity: 1;

}

.relatednav {
	background: #FAFAFA;
	padding-top: 5em;
	padding-bottom: 5em;
}

.relatedtext {
	color: #303031 ;
	text-align: center;
	font-family: 'Raleway', sans-serif;
	font-weight: 600;
	font-size: 1.8em;
	opacity: .5;
}

.backtohome {
	font-family: 'Open Sans', sans-serif;
	font-weight: 500;
	font-size: 1.4em;
	color: #303031 ;
	padding-bottom: 2em;
}

.backtohome:hover {
	font-weight: 600; 

}

.relatedtext:hover {
    opacity: 1;
    cursor: pointer;

}



.jumbotitle {
	font-family: 'Oswald';
	
}

.notetext {
	color: gray;
	font-size: 1em;
	padding-bottom: 1em;
	padding-top: 2em;
	font-style: italic;

}


/*----------3 column stuff-----------*/


.t3pad {
	margin-top: -2.2em;
	background-color: #4A4A4A;
	padding-right: 2em;
	padding-left: 2em;
}

.colpad {
	padding-left: 2.5em;
	padding-right: 2.5em;
	color: white;
	padding-top: 1.5em;
	padding-bottom: 2em;
	font-family: 'Open Sans', sans-serif;
	font-weight: 400;
	line-height: 1.5em;
	font-size: 1.1em;

}


/*--------jumbotron stuff---------*/

.jumboheight {
	height: 38em;
	padding-top: 8em;
	text-align: center;
	color: white;
	/*  text-shadow: black 0.3em 0.3em 0.3em; */

}

.jumbotron  {
	background-image: url(aboutbackground.jpg);
	background-size: cover;
	width: 100%;
	border-radius: 0px;

}




.introhey {
	padding-top: 0em;
	font-family: 'Raleway', sans-serif;
	font-weight: 700;
	color: #404040 ;
}

.introsupport {
	padding-top: 0em;
	font-family: 'Raleway', sans-serif;
	font-weight: 700;
	color: #404040;
}



.bodyhey {
	padding-top: 26em;

}

.bodyhey1 {
	padding-top: 0em;
}

.bodyhey2 {
	padding-top: 26em;
	padding-bottom: 26em;
}

.moreme {
	letter-spacing: ;
	font-size: 1.2em;
	font-weight: bold;
	padding-top: 4em;
	color: #D8D8D8;
	font-family: 'Raleway', sans-serif;
}

.introblurb {
	font-size: 1.6em;
	font-weight: ;

}

.endhey {
	padding-bottom: 22em;
	
}

.introheight {
	line-height: 1;
}

.lost1 {
	padding-top: 10em;
}

.lost2 {
	padding-top: 10em;
}

.phrasebackground {
	height: 30em;
	background-color: #10A4F4;
	padding-top: 15em;
	padding-bottom: 15em;
	color: white;
}





/*------ LINKS --------*/


a:link {
	color: black;
}

a:hover {
    color: black;
    font-weight: bold;
}


a:visited {
    color: black;
}

a:active {
    color: black;
}


/*-----images-------*/


.imgoverlay {
	margin-top: -9em;
	padding-bottom: -6em;
}

.projectimg {
	padding-bottom: 2em;

}

.projectimgsadgif {
	padding-bottom: 5em;

}



/*-- animate.css stuff---*/





