/**{
	border: 1px solid red !important;
} */


*{
	-webkit
	-moz
	-ms
	box-sizing: border-box;
}


/*---------nav bar all pages---------*/

.headimg {
	padding-top:3em;
	padding-bottom: 2em;
}

.navcontainer {
	padding-top: 1em;

}

.navbar {
	padding-top: 2em;
	padding-bottom: 1.7em;
	background: none;
	border: none;

}
/*--

.homelogo {
	font-weight: bold;
	font-size: 1em;
	letter-spacing: .2em;
	color: black;
	font-family: 'Raleway', sans-serif;
}

--*/
.homelogo {
	font-weight: 700;
	font-size: 1em;
	letter-spacing: .12em;
	color: black;
	font-family: 'Raleway', sans-serif;
}

	


.homelogo_1 {
	font-weight: bold;
	font-size: 1em;
	letter-spacing: ;
	color: white;
	
}



.menu1{
	color: black;
}

.menu2{
	color: black;
}

.menu1_1{
	color: white;
}

.menu2_1{
	color: white;
}

.homelogo:hover{
	cursor: pointer;
}

.menu1:hover {
	font-weight: bold; 
	cursor: pointer;
	color: black;

}

.menu2:hover {
	font-weight: bold; 
	cursor: pointer;
	color: black;
}

.menu1_1:hover {
	font-weight: bold; 
	cursor: pointer;
	color: white;

}

.menu2_1:hover {
	font-weight: bold; 
	cursor: pointer;
	color: white;
}


/*---------all row stuff----------*/


.firstrow {
	padding-top: 0em;
}



.footer {
	padding-top: 3em;
	padding-bottom: 3em;
}


.nopadding {
   padding: 0 !important;
   margin: 0 !important;
}


.tpad {
	padding-top: 6em;
	padding-bottom: 1em;
}

.maintitlepad {
	padding-top: 1em;
	padding-bottom: 0em;
}





.navpad {
	padding-top: 6em;
	padding-bottom: 0em;
}

.lrpad {
	padding-left: 3em;
	padding-right: 3em;
}

.mainlrpad {
	padding-right: 0em;
	padding-left: 0em;
}

.bigtext {
	padding-top: 0em;
	font-family: 'Noto Serif', serif;
	font-size: 2em;
	line-height: 1.5em;
}

.bodytext {
	font-family: 'Noto Serif', serif;
	font-size: 1.6em;
	line-height: 1.5em;
	padding-top: 1em;
}


.projectheader {
	font-family: 'Raleway', sans-serif;
	font-weight: 300;
	font-size: 4.5em;
	color: #0FA4F4;
}

.supportheader {
	font-family: 'Raleway', sans-serif;
	font-weight: 300;
	font-size: 1.5em;
	color: #303031 ;
	padding-bottom: 2.5em;
}


.projectbanner {
	padding-bottom: 2em;
}


.hoverreveal {
	opacity: .6;
}

.hoverreveal:hover {
	transition: opacity 1s ease-in-out;
    opacity: 1;
}

/*--

.projectheader {
	font-family: 'Oswald';
	opacity: .7;
	

}

.projectheader:hover {
	transition: opacity 1s ease-in-out;
    opacity: 1;

}---*/


.jumbotitle {
	font-family: 'Oswald';
	
}

.notetext {
	color: gray;
	padding-top: 1em;
	font-size: 1em;
	padding-bottom: 3em;
}


/*----------3 column stuff-----------*/


.t3pad {
	margin-top: -2.2em;
	background-color: #303031;
	padding-right: 2em;
	padding-left: 2em;
}

.colpad {
	padding-left: 3em;
	padding-right: 3em;
	color: white;
	padding-top: 2.5em;
	padding-bottom: 3.5em;
	font-family: 'Raleway', sans-serif;
	font-weight: 200;

}


/*--------jumbotron stuff---------*/

.jumboheight {
	height: 38em;
	padding-top: 8em;
	text-align: center;
	color: white;
	/*  text-shadow: black 0.3em 0.3em 0.3em; */

}

.jumbotron  {
	background-image: url(aboutbackground.jpg);
	background-size: cover;
	width: 100%;
	border-radius: 0px;

}




.introhey {
	padding-top: 0em;
	font-family: 'Raleway', sans-serif;
	font-weight: 700;
	color: #404040 ;
}

.introsupport {
	padding-top: 0em;
	font-family: 'Raleway', sans-serif;
	font-weight: 700;
	color: #404040;
}



.bodyhey {
	padding-top: 26em;

}

.bodyhey1 {
	padding-top: 0em;
}

.bodyhey2 {
	padding-top: 26em;
	padding-bottom: 26em;
}

.moreme {
	letter-spacing: ;
	font-size: 1.2em;
	font-weight: bold;
	padding-top: 4em;
	color: #D8D8D8;
	font-family: 'Raleway', sans-serif;
}

.introblurb {
	font-size: 1.6em;
	font-weight: ;

}

.endhey {
	padding-bottom: 22em;
	
}

.introheight {
	line-height: 1;
}

.lost1 {
	padding-top: 10em;
}

.lost2 {
	padding-top: 10em;
}

.phrasebackground {
	height: 30em;
	background-color: #10A4F4;
	padding-top: 15em;
	padding-bottom: 15em;
	color: white;
}





/*------ LINKS --------*/


a:link {
	color: black;
}

a:hover {
    color: black;
    font-weight: bold;
}


a:visited {
    color: black;
}

a:active {
    color: black;
}


/*-----images-------*/


.imgoverlay {
	margin-top: -9em;
	padding-bottom: -6em;
}

.projectimg {
	padding-top: 4em;

}


/*-- redo about to display projects---*/








